
<div>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-7 col-sm-12">
            <!-- <img id ="landing-logo" src="img/logogsdcsjsu.png"> -->
            <img id = "landing-logo" src="img/logogdscsjsu1.svg">
        </div>
        <div class="col"></div>
    </div>
</div>
<!-- <div>
    <div class="row">
        <div class="col"></div>
        <div class="col-md-7 col-sm-12">
            <p style="text-align: center; margin-bottom: 10vh; ">
                <a href="www.google.com" class="btn btn-primary btn-lg">
                    Join us
                </a>
            </p>
        </div>
        <div class="col"></div>
    </div>
</div> -->



<!-- <div class="mouse d-none d-xl-block" type="button" onClick="document.getElementById('about').scrollIntoView({behavior: 'smooth'}).scrollTop += 70;"></div> -->