<head id="particles-js">
    <!-- <script type="text/javascript" src="js/particles.js"></script>
    <script type="text/javascript" src="js/particles.min.js"></script> -->
    <!-- {{ $particles_js := resources.Get "js/particles.js" }} -->


    <!-- <div id="particles-js"> </div> -->
    <!-- <script src="{{ .Site.BaseURL }}js/particles.min.js"></script> -->
    <!-- <script id="particles-js" src="{{ site.Params.plugins_js }}"></script> -->

    <!-- {{ $particles_js := resources.Get "js/particles.js" }} -->
    
  <script src="assets/js/particles.js"></script>
  <script src="assets/js/particles-app.js"></script>    
</head>
<body >
    <img src="img/logogsdcsjsu.png" >
</body>